<h1>{{btnTitulo}}</h1>

<form [formGroup]="funcionarioForm" (submit)="submit()" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    <div class="input-box">
        <label for="">Nome:</label>
        <input type="text" formControlName="nome" placeholder="Insira o nome!" required>
    </div>
    <div class="input-box">
        <label for="">CPF:</label>
        <input type="text" formControlName="cpf" placeholder="Insira o CPF!" required>
    </div>
    <div class="input-box">
        <label for="">Turno:</label>
        <select id="turno" formControlName="turno" required>
            <option value="Manha">Manhã</option>
            <option value="Tarde">Tarde</option>
            <option value="Noite">Noite</option>
        </select>
    </div>
    <div class="btn-box">
        <button type="submit" [disabled]="!funcionarioForm.valid">{{btnAcao}}</button>
        <button routerLink="">Voltar</button>
    </div>
</form>